NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
POWERX_OWNER_EMAIL=syedafsharkhadri63@gmail.com
POWERX_SESSION_SECRET=
POWERX_RP_ID=localhost
POWERX_ORIGIN=http://localhost:3000
POWERX_PRODUCTION_API_URL=
POWERX_PRODUCTION_API_KEY=
POWERX_CONTROL_API_URL=
POWERX_CONTROL_TOKEN=
